body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #f1eeee;
    font-weight: bolder;
    
    
}
  


header {
    background-color: #0d0e0f;
    color: rgb(19, 19, 19);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: underline;
    text-shadow: 1px 1px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a.active {
    
    font-weight: bolder;
}

.section {
    padding: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0f1010;
    color: white;
}

body {
    background-image: url("tin100.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    font-weight: bolder;
    font-style: inherit;     
   }
